<!DOCTYPE html>
<html>
  <head>
    {{ partial "html-head-meta.html" . }}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}index.xml">
  </head>
  <body>
    {{ partial "layout-header.html" . }}
    {{ partial "layout-navigation.html" . }}

    {{ $link := .Data.Plural | print "/" | urlize }}
    {{ $n1 := dict "title" "Archive" "link" "/archive" }}
    {{ $n2 := dict "title" .Data.Plural "link" $link "current" true}}
    {{ .Scratch.Set "breadcrumbs" (slice $n1 $n2) }}

    <div class="row main">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-9 columns">
            <div class="right">{{ partial "breadcrumbs.html" . }}</div>
            <h2>Archive for <span class="subheader">{{ .Title }}</span>:</h2>
            
            {{ .Content }}

<ul class="side-nav">
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms.Alphabetical.Reverse }}
    {{ $key := $value.Name }}
    {{ $time := time (print $data.Plural "-" $key "-" "01") }}
    <li class="heading">
      <a href="/{{ $data.Plural }}/{{ $key | urlize }}" title="{{ $time }}">
        <span class="secondary radius label right">
          {{ $value.Count }}
        </span>
        {{ $time.Format "January" }}
      </a>
    </li>
    {{ partial "list-posts.html" $value.Pages }}
  {{ end }}
</ul>

          </div>
          <div class="large-3 columns">
            {{ partial "sidebar.html" . }}
          </div>
        </div>
        <hr />

      </div>
    </div>

    {{ partial "layout-footer.html" . }}
    {{ partial "layout-script.html" . }}
  </body>
</html>
