{{ $date :=  .Date }}
{{ $archive := "archive" }}
{{ $url := slice $.Site.BaseURL $archive ($date.Format "2006/01") }}

<a href="{{ delimit $url "/" }}">
    <time itemprop="datePublished" pubdate="pubdate" datetime="{{ $date.Format "2006/01" }}" title="{{ $date.Format $.Site.Params.fmt.ISO8601 }}">
        {{ with $.Site.Params.fmt.PostDate }}{{ $date.Format . }}{{ else }}{{ $date.Format "Mon, Jan 2, 2006 (-07:00)" }}{{ end }}
    </time>
</a>

{{ with (.Scratch.Get "Author") }}
{{ $url := slice $.Site.BaseURL "author" .id }}
by 
<a href="{{ delimit $url "/" }}" title="Posts by {{ .name }}" rel="author">{{ .name }}</a>
{{ end }}
